<div>
  <h1>ログイン</h1>
  <%= render 'layouts/flash' %>
  <%= form_with url: sessions_path, method: :post do |form| %>
    <%= form.label :display_id, "ユーザーID：" %>
    <%= form.text_field :display_id %>
    <br>
    <%= form.label :password, "パスワード：" %>
    <%= form.password_field :password %>
    <br>
    <%= form.submit "ログイン" %>
  <% end %>
</div>
